{
  "plugins": ["prettier-plugin-svelte"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte",
        "svelteAllowShorthand": true,
        "svelteSortOrder": "options-scripts-markup-styles",
        "svelteStrictMode": false,
        "bracketSameLine": true,
        "printWidth": 80,
        "tabWidth": 4,
        "singleQuote": false,
        "htmlWhitespaceSensitivity": "ignore"
      }
    }
  ]
}
